<div class="flex-grid live-log">
  <div>
    <h2><strong>LIVE LOG</strong></h2>
    <div class="flex-row-container">
      <div class="railsLogs">
        <strong>Catch Rails Logs</strong>
        <a class="fa fa-info-circle" target="__black" href="https://github.com/runtimerevolution/live_log#rails-logger"></a>
      </div>
      <div class="tracer-container">
        <% if LiveLog::Tracer.is_active %>
          <%= button_to 'Stop', { action: 'tracer_active', active: false, method: :post }, form_class: "button_to stop" %>
        <% else %>
          <%= button_to 'Start', { action: 'tracer_active', active: true, method: :post } %>
        <% end %>
        <% if LiveLog::Tracer.is_active %>
          <div class="dropdown">
            <input type="text" placeholder="Search.." id="searchFile">
            <div id="fileOptions" class="dropdown-content" tabindex="0">
              <% @files_list.each do |file| %>
                <%= button_to file[:path], { action: 'tracer_files', path: file[:path], log_level: file[:log_level], method: :post } %>
              <% end %>
            </div>
          </div>
          <div class="dropdown log-level">
            <div tabindex="1" id="logLevel">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
              <span><%= @log_level.capitalize %></span>
            </div>
            <div id="logLevelOptions" class="dropdown-content log-level" tabindex="2">
              <% LiveLog::Tracer::LEVELS.each do |name, level| %>
                <%= button_to name.to_s.capitalize, { action: 'tracer_log_level', log_level: level, method: :post } %>
              <% end %>
            </div>
          </div>
          <div class="divider"></div>
          <div class="fileList-container">
            <% @tracer_files.each_with_index do |f, i| %>
              <%= button_to f[:path], { action: 'remove_file', id: i, method: :post }, form_class: "fileList #{LiveLog::Tracer::LEVELS.key(f[:log_level].to_i)}" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex-row-container header" >
      <div class="flex-row-item header-border short-description"><strong>Level</strong></div>
      <div class="flex-row-item header-border short-description"><strong>Time</strong></div>
      <div class="flex-row-item header-border description"><strong>Message</strong></div>
    </div>
    <div id="live_log_id"></div>
    <div >
    </div>
  </div>
</div>

<%= javascript_include_tag LiveLog.file_version %>
